<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZDyvnIXutCI-W0Rwz3vGUItsIHu5v2Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>367476307418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soilMonitoringApp</string>
	<key>PROJECT_ID</key>
	<string>test-monitor-reui</string>
	<key>STORAGE_BUCKET</key>
	<string>test-monitor-reui.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367476307418:ios:eda5a04e08a020e2d1fce3</string>
	<key>DATABASE_URL</key>
	<string>https://test-monitor-reui-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>